.photo_placeholder {
    height: '450px';
    background-color: '#f8f9fa';
    display: 'flex';
    align-items: 'center'; 
    justify-content: 'center';
    border-radius: '8px';
    overflow: 'hidden';
    border: '1px solid #dee2e6'
}

.photo_placeholder img { 
    max-height: '100%';
    max-width: '100%';
    object-fit: 'contain';
    margin: 'auto'
}